/* reset styles */

/* give me reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles */
body {
  font-family: Arial, sans-serif;
  background-color: red;
  color: #333;
  line-height: 1.6;
}
