<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tours</title>
  </head>
  <body>
    <h1>Available Tours</h1>
    <ul>
      {% for tour in asian_tours %}
      <li>
        <!-- {{tour}} -->
        <h2>{{ tour.origin_country }} to {{ tour.destination_country }}</h2>
        <p>{{ tour.number_of_nights }} days</p>
        <p>{{ tour.price }} USD</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
